body{
    background-color: #0277bd;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.footer {
  color:white;
  background-color: #333;
  padding: 10px;
  position : absolute;
  bottom: 0;
  /*margin-top : 40px;*/
  width: 98%;
}
h1{
    color: white;
}

#login-box {
    width: 300px;
    height: auto;
    padding: 20px;
    margin: 10px auto;
    background: #eeeeee;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border: 1px solid #000;
}

#login-box-reg {
    width: 390px;
    height: 320px;
    padding: 20px;
    margin: 10px auto;
    background: #eeeeee;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border: 1px solid #000;
}

#login-box-ext-usr {
    width: 1100px;
    height: auto;
    padding: 20px;
    margin: 10px auto;
    background: #eeeeee;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border: 1px solid #000;
}

.button{
    width: 100px;  height: 30px;
    background-color: #1e88e5;
    font-size: 16px;
    color: white;
    float: right;
    margin: 10px;
}

.button_reg1{
    width: 100px;  height: 30px;
    background-color: #1e88e5;
    font-size: 16px;
    color: white;
    float: center;
    margin: 10px;
}

#signin {
    width: 300px;  height: 30px;
    background-color: #1e88e5;
    font-size: 16px;
    color: white;
}
#signin:hover {
  background-color: #4CAF50;
  color: white;
}

#but_reg2{
  width: 100px;  height: 30px;
  background-color: #1e88e5;
  font-size: 16px;
  color: white;
  float: right;
}

#sendotp{
  width: 100px;  height: 30px;
  background-color: #1e88e5;
  font-size: 16px;
  color: white;
  float: right;
}

#forgotpass{
  width: 100px;  height: 30px;
  background-color: #1e88e5;
  font-size: 16px;
  color: white;
  float: right;
}

#SubmitTransfer{
  width: 100px;  height: 30px;
  background-color: #1e88e5;
  font-size: 16px;
  color: white;
  float: center;
}

#credit{
  width: 100px;  height: 30px;
  background-color: #1e88e5;
  font-size: 16px;
  color: white;
  float: center;
}

#debit{
  width: 100px;  height: 30px;
  background-color: #1e88e5;
  font-size: 16px;
  color: white;
  float: center;
}

#makechanges{
  width: 120px;  height: 30px;
  background-color: #1e88e5;
  font-size: 16px;
  color: white;
  float: center;
}

#schedule{
  width: 120px;  height: 30px;
  background-color: #1e88e5;
  font-size: 16px;
  color: white;
  float: center;
}

#StartTime{
  bottom:100%;
}

#modifybtn{
  width: 230px;  height: 30px;
  background-color: #1e88e5;
  font-size: 16px;
  color: white;
  float: right;
}